body, html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    color: white;
    background-color: black;
}

.navbar{
    padding-left:4vw !important;
    padding-right:4vw !important;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    background-color: black;
    color:white;
    justify-content: space-between;
    font-weight: bold;
    font-size: 150%;
    padding-inline-start: 0;
    a {
        text-decoration: none;
        color: white;
    }
    .resumov {
        font-style: italic;
    }
}

.lefttabs {
    display: flex;
    flex-direction: row;
    font-size: 80%;
    a {
        margin-left: 2vw;
        margin-right: 2vw;
        
    }
}

.signinup
{
    position: relative;
}

.signinup:hover {
    cursor:pointer;
}

.lefttabs h1:before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.lefttabs h1:hover:before {
  visibility: visible;
  width: 100%;
}

