.portfoliorender .header{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.portfoliorender .aboutme {
    justify-content: center !important;
    text-align: left !important;
    width: 100%;
    padding-left: 30vw !important;
    padding-right: 30vw !important;

    img {
        justify-content: center;
        justify-self: center !important;
        width: 80% !important;
        min-width: 300px !important;
        margin: 0 !important;
    }
}

.portfoliorender .education {
    justify-content: center !important;
    text-align: left !important;
    width: 100%;
    padding-left: 30vw !important;
    padding-right: 30vw !important;

}

.portfoliorender .education {
    justify-content: center !important;
    text-align: left !important;
    width: 100%;
    padding-left: 30vw !important;
    padding-right: 30vw !important;

}

.portfoliorender .contactme {
    justify-content: center !important;
    text-align: left !important;
    width: 100%;
    padding-left: 30vw !important;
    padding-right: 30vw !important;

}



